body {
    background-color: #fff;
}

.header-container {
    display: table;
    width: 100%;
    min-height: 50px;
}

.navbar-header {
    display: table-cell !important;
    float: none;
    width: 230px;
    vertical-align: middle;
}

.header-menu-wrap {
    display: table-cell !important;
    vertical-align: middle;
}

.header-search {
    float: left;
    position: relative;
    width: 30px;
    height: 30px;
    text-align: center;
}

.header-search-button {
    color: #cbc7c2;
    line-height: 20px;
    cursor: pointer;
}

.header-search-button:hover {
    color: rgba(255, 255, 255, 0.7);
}

.header-search.header-search-open .header-search-input {
    display: block;
}

.header-search-input input[type="search"] {
    width: 100%;
    padding: 10px;
    padding-right: 28px;
    border: none;
    border-radius: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
}

.header-search-input input[type=submit] {
    position: absolute;
    z-index: 9;
    top: 5px;
    right: 5px;
    width: 28px;
    height: 33px;
    border: none;
    background: none;
    text-indent: -9999999px;
}

.header-search-input:after {
    display: inline-block;
    position: absolute;
    z-index: 8;
    top: 5px;
    right: 5px;
    width: 20px;
    width: 33px;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    line-height: 33px;
    font-family: 'FontAwesome';
    content: '\f002';
}

.header-search-input {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 220px;
    padding: 5px;
    background: rgba(26, 26, 26, 0.9);
}

.navbar-cart-inner {
    float: right;
    position: relative;
    width: 30px;
    height: 30px;
}

.navbar-cart-inner .icon-basket {
    color: #fff;
    color: rgba(255, 255, 255, 0.7);
    line-height: 12px;
}

.navbar-cart-inner:hover .icon-basket {
    color: rgba(255, 255, 255, 1);
}

.navbar-cart-inner .cart-item-count {
    display: block;
    position: absolute;
    top: 12px;
    right: initial;
    left: 8px;
    width: auto;
    min-width: 14px;
    border-radius: 2px;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0;
    color: #111;
    background-color: rgba(229, 229, 229, 0.8);
}

.navbar-cart {
    display: table-cell !important;
    width: 90px;
    height: 25px;
    margin-left: 20px;
    padding-left: 30px;
    vertical-align: middle;
    font-size: 16px;
}

#vip-navbar {
    padding: 40px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
    background-color: rgba(0, 0, 0, 0);
}

.nav-link {
    color: rgba(255,255,255,.7);
}

.nav-link:hover {
    color: rgba(255,255,255,9);
}

@media screen and (min-width: 581px) {
    .dropdown:hover > .dropdown-menu {
        display: block;
    }
}

.dropdown-menu {
    background: rgba(26, 26, 26, .9);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.footer, .navbar-nav div.dropdown-menu > a.dropdown-item {
    color: rgba(255,255,255,.7);
}
.navbar-nav div.dropdown-menu a.dropdown-item:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(255,255,255,.1);
}

.dropdown-menu > a.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-menu {
    margin-top: 0;
}

.cd-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("http://127.0.0.1:8080/wp-content/themes/wp-vip-theme/images/background1.jpg");
}

.cd-section--bg-fixed {
    min-height: 100vh;
    background-attachment: fixed;
}

.home-banners {
    padding: 70px 0 30px;
    border-bottom: 1px solid #eaeaea;
}

.content-box-image {
    margin-bottom: 40px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.content-box {
    margin: 20px 0;
    text-align: center;
}

.content-box-image:hover {
    opacity: .8;
    -webkit-transition: all .3s;
    transition: all .3s;
}

img {
    max-width: 100%;
    height: auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.footer {
    padding: 10px;
}